{% extends "base.html" %}
{% block extra_css %}
<link href="/static/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 984px !important;">
    <section class="content-header">
        <h1>
            Welcome ! {{ user.name }}
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Account</a></li>
            <li class="active">change Password</li>
        </ol>
    </section>
    <section class="content">
        <div class="col-md-6">
            <div class="box box-info">

                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-header with-border">
                    {% if error %}
                    <h3 class="box-title" style="color: darkred">
                        {{ error }}
                    </h3>
                    {% else %}
                    <h3 class="box-title">
                        This is your first login. Please change password.
                    </h3>
                    {% endif %}
                </div>
                <form class="form-horizontal" action="/change-password/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Old Password</label>

                            <div class="col-sm-6">
                                <input type="password" name="old_password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">New Password</label>

                            <div class="col-sm-6">
                                <input type="password" name="new_password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Confirm Password</label>

                            <div class="col-sm-6">
                                <input type="password" name="confirm_password" class="form-control">
                            </div>
                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button class="btn btn-default" type="reset">Reset</button>
                            <button class="btn btn-info pull-right" type="submit">Update</button>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}
