{% extends "base.html" %}
{% block extra_css %}
<link href="/static/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 984px !important;">
    <section class="content-header">
        <h1>
            Create User
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Account</a></li>
            <li class="active">Create User</li>
        </ol>
    </section>
    <section class="content">
        <div class="col-md-6">
            <div class="box box-info">

                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-header with-border">
                    <h3 class="box-title">Create New User</h3>
                </div>
                <form class="form-horizontal" action="/account/create/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-8">
                                <input type="email" name="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-8">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" id="role">
                            <label class="col-sm-2 control-label">Role</label>

                            <div class="col-sm-8">
                                <select class="form-control" name="role">
                                    <option value="" selected style="display: none"></option>
                                    <option value="admin">Admin</option>
                                    <option value="account_manager">Account Manager</option>
                                    <option value="studio_manager">Studio Manager</option>
                                    <option value="listing_content">Listing Content</option>
                                    <option value="listing_operations">Listing Operations</option>
                                    <!--<option value="qc">QC</option>-->
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>

                            <div class="col-sm-8" id="phone">
                                <input type="number" name="phone" class="form-control">
                            </div>
                        </div>

                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button class="btn btn-default" type="reset">Reset</button>
                            <button class="btn btn-info pull-right" type="submit">Create</button>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}
