{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 630px !important;overflow-x: scroll;">
    <section class="content-header">
        <h1>
            Account
            <small>Users</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#">Account</a></li>
            <li class="active">Users</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Users</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="users" class="table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <!--<th>S.No.</th>-->
                                <th>Joining Date</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    var params = {};
    var table = $('#users').DataTable({
        "bProcessing": true,
        "sAjaxSource": "/serializer/?app=xauth&model=XUser&params=" + JSON.stringify(params),
        //"aaSorting": [[0, "asc"]],
        "sPaginationType": "full_numbers",
        "bStateSave": true, //Use a cookie to save current display of items
        "bScrollCollapse": true,
        //"sScrollX": "100%",
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        },
        "columns": [
            {"data": "created"},
            {"data": "username"},
            {"data": "name"},
            {"data": "role_title"},
            {"data": "contact"},
            {
                "data": "action",
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html('<button onclick="reset_pass(' + oData.id + ')">Reset Pass</button>');
                }
            }
        ]
    });

    function reset_pass(id) {
        if (confirm("Are you sure want to reset password ?")) {
            $.ajax({
                type: 'post',
                url: '/reset-password/',
                data: {
                    'id': id
                },
                success: function (response) {
                    //set_mask(response);
                }
            });
        }
        return false;
    }
</script>
{% endblock %}