{% extends "base.html" %}
{% block content %}
<div class="content-wrapper" style="min-height: 984px !important;">
    <section class="content-header">
        <h1>
            Upload Buckets
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Catalogue</a></li>
            <li class="active">Upload Buckets</li>
        </ol>
    </section>

    <section class="content">
        <div class="col-md-6">
            <div class="box box-info">
                {% if message %}
                <span>{{ message }}</span>
                {% else %}
                <div class="box-header with-border">
                    <h3 class="box-title">Upload Bucket File</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/catalogue/buckets/upload/" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="form-group" id="content_sheet_upload">
                            <label class="col-sm-3 control-label">Select File</label>

                            <div class="col-sm-4">
                                <input type="file" name="bucket_file">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" type="reset">Reset</button>
                        <button class="btn btn-info pull-right" type="submit">Upload</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}
