[uwsgi]
socket          = /tmp/{{ project_name }}.sock
vhost           = true
chdir           = {{ project_root }}/{{ project_name }}/{{ project_src }}
module          = {{ project_src }}.wsgi:application
callable        = app
plugins         = python
master          = true
processes       = {{ ansible_processor_vcpus * 2 }}
threads         = 1
vacuum          = true
chown-socket    = www-data

{% for key, value in environment_variables.items() %}
env                 = {{key}}={{value}}
{% endfor %}
