{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 620px !important;overflow-x: scroll;">
    <section class="content-header">
        <h1>
            Listing
            <small>All Listing Requests</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#">Listing</a></li>
            <li class="active">All Listing Requests</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listing Requests</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="listing" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Submission Date</th>
                                <th>Lot Name</th>
                                <th>#POGs</th>
                                <th>EX-Seller</th>
                                <th>AM Priority</th>
                                <th>Real/Virtual</th>
                                <th>Studio Inward Confirmation</th>
                                <th>Studio Rejection</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        var params = {{ params | safe }};
        $('#listing').DataTable({
            //"bProcessing": true,
            "sAjaxSource": "/serializer/?app=listing&model=ListingRequest&order_by=am_priority&params=" + JSON.stringify(params),
            "sPaginationType": "full_numbers",
            "bStateSave": true, //Use a cookie to save current display of items
            "bScrollCollapse": true,
            //"sScrollX": "100%",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            },
            "columns": [
                {"data": "submission_date"},
                {"data": "lot_name"},
                {"data": "pogs"},
                {"data":"exl_seller"},
                {
                    "data": "am_priority",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).attr('class', 'am_priority');
                    }
                },
                {"data": "image_availability"},
//                {
//                    "data": "images",
//                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
//                        if (oData.image_availability == 'Virtual')
//                            $(nTd).html("<a href='" + oData.images + "'>Download</a>");
//                        else
//                            $(nTd).html("Image Sent");
//                    }
//                },
//                {
//                    "data": "content_sheet",
//                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
//                        $(nTd).html("<a href='" + oData.content_sheet + "'>Download</a>");
//                    }
//                },
                {"data": "_studio_inward_confirmation"},
                {
                    "data": "studio_rejected_sheet",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        if (oData.studio_rejected_sheet != null)
                            $(nTd).html("<a href='" + oData.studio_rejected_sheet + "'>Download</a>");
                        else
                            $(nTd).html("No Rejection");
                    }
                },
                {"data": "listing_status"},
                {
                    "data": "action",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).attr('class', 'action');
                        var html = "<a class='btn btn-sm' id='" + oData.id + "' onclick='action($(this))' data='edit'><i class='fa fa-edit'></i></a>";
                        if (oData.listing_status == 'Yet to Start')
                            html += "<a class='btn btn-sm' id='" + oData.id + "' onclick='action($(this))' data='remove'><i class='fa fa-remove'></i></a>";
                        $(nTd).html(html);
                    }
                }
            ]
        });
    });

    function action(ele) {
        var id = ele.attr('id');
        var tr = ele.closest('tr');
        var am_priority_td = tr.find('.am_priority');
        var am_priority = am_priority_td.html();

        if (ele.attr('data') == 'edit') {
            ele.html('<i class="fa fa-save"></i>');
            ele.attr('data', 'save');
            am_priority_td.html('<input type="number" value="' + am_priority + '" class="form-control" style="height:28px;width: 80px;font-size: 10px">');

        } else if (ele.attr('data') == 'remove') {
            if (confirm('Are you sure want to delete this ?')) {
                $.ajax({
                    type: 'delete',
                    url: '/listing/' + id + '/',
                    success: function (response) {
                        location.reload();
                    }
                });
            }
            return false;
        } else {
            var am_priority_val = am_priority_td.find('input').val();

            update_listing(id, {'am_priority': am_priority_val});
        }


    }
</script>
{% endblock %}