<div class="col-md-6" style="width: 500px;min-height: 200px">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ listing.lot_name }}</h3>
        </div>
        <form class="form-horizontal" action="/listing/{{ listing.pk }}/" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% if action == 'Inward' %}

            <div class="form-group" id="studio_sku_content_sheet">
                <label class="col-sm-4 control-label">SKU Content Sheet</label>

                <div class="col-sm-6">
                    <input type="file" name="studio_sku_content_sheet">
                </div>
            </div>

            {% endif %}

            {% if action == 'Editing Done' %}


            <div class="form-group">
                <label class="col-sm-4 control-label">Image Upload</label>
                <div class="col-sm-6" id="studio_image_type">
                    <input type="radio" name="studio_image_type" checked="checked" value="path"> Shared Path
                    <input type="radio" name="studio_image_type" value="file"> File Upload
                </div>
            </div>

            <div class="form-group" id="studio_image_path">
                <label class="col-sm-4 control-label">Shared Path</label>
                <div class="col-sm-6">
                    <input type="text" name="studio_image_path" class="form-control">
                </div>
            </div>

            <div class="form-group" style="display: none" id="studio_image_file">
                <label class="col-sm-4 control-label">Zip Upload</label>
                <div class="col-sm-6">
                    <input type="file" name="studio_image_file">
                </div>
            </div>


            {% endif %}

            {% if action == 'upload' %}

            <div class="form-group">
                <label class="col-sm-4 control-label">Rejection Type</label>

                <div class="col-sm-6" id="listing_status">
                    <input type="radio" name="listing_status" value="" checked="checked"> Partial
                    <input type="radio" name="listing_status" value="Complete Rejected"> Complete
                </div>
            </div>

            <div class="form-group" id="studio_rejected_sheet">
                <label class="col-sm-4 control-label">Rejected Sheet</label>

                <div class="col-sm-6">
                    <input type="file" name="studio_rejected_sheet">
                </div>
            </div>

            <div class="form-group" id="remark">
                <label class="col-sm-4 control-label">Remark</label>

                <div class="col-sm-6">
                    <input type="text" name="remark" class="form-control">
                </div>
            </div>

            {% endif %}

            {% if action == 'Content Sheet Ready' %}

            <div class="form-group" id="listing_content_sheet">
                <label class="col-sm-4 control-label">Content Sheet</label>

                <div class="col-sm-6">
                    <input type="file" name="listing_content_sheet">
                </div>
            </div>

            {% endif %}

            {% if action == 'Upload Format Ready' %}

            <div class="form-group" id="listing_upload_sheet">
                <label class="col-sm-4 control-label">Upload Sheet</label>

                <div class="col-sm-6">
                    <input type="file" name="listing_upload_sheet">
                </div>
            </div>

            {% endif %}

            <div class="box-footer">
                <button class="btn btn-default close-box" type="reset" style="float: left;margin-left: 0">Close</button>
                <button class="btn btn-info pull-right" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% block extra_js %}
<script type="text/javascript">
    $('#studio_image_type input[type="radio"]').on('click', function () {
        if ($(this).val() == 'path') {
            $('#studio_image_path').show('mid');
            $('#studio_image_file').hide('mid');
        } else {
            $('#studio_image_path').hide('mid');
            $('#studio_image_file').show('mid');
        }
    });
</script>
{% endblock %}