{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
<style type="text/css">
    #listing_filter {
        margin-right: 80%;
    }

    #listing_paginate {
        margin-right: 70%;
    }
</style>
{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 620px !important;overflow-x: scroll;">
    <section class="content-header">
        <h1>
            Listing
            <small>All Listing Requests</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#">Listing</a></li>
            <li class="active">All Listing Requests</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12" style="width: 160%;">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listing Requests</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="listing" class="listing table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>Submission Date</th>
                                <th>Lot Name</th>
                                <th>#POGs</th>
                                <th>EX-Seller</th>
                                <th>Account Manager</th>
                                <th>AM Priority</th>
                                <th>Real/Virtual</th>
                                <th>Images</th>
                                <th>Content Sheet</th>
                                <th>Size Chart</th>
                                <th>Studio Rejection</th>
                                <th>Status</th>
                                <th>Studio SKU Sheet</th>
                                <th>Studio Images</th>
                                <th>Listing Content Sheet</th>
                                <th>Listing Priority</th>
                                <th>Resource Allocated</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        var params = {{ params | safe }};
        $('#listing').DataTable({
            //"bProcessing": true,
            "sAjaxSource": "/serializer/?app=listing&model=ListingRequest&params=" + JSON.stringify(params),
            "aaSorting": [[0, "asc"]],
            "sPaginationType": "full_numbers",
            "bStateSave": true, //Use a cookie to save current display of items
            "bScrollCollapse": true,
            //"sScrollX": "100%",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            },
            "columns": [
                {"data": "submission_date"},
                {"data": "lot_name"},
                {"data": "pogs"},
                {"data": "exl_seller"},
                {"data": "account_manager"},
                {"data": "am_priority"},
                {"data": "image_availability"},
                {
                    "data": "images",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        if (oData.image_availability == 'Virtual')
                            $(nTd).html("<a href='" + oData.images + "'>Download</a>");
                        else
                            $(nTd).html("Image Sent");
                    }
                },
                {
                    "data": "content_sheet",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='" + oData.content_sheet + "'>Download</a>");
                    }
                },
                {
                    "data": "size_chart",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='" + oData.size_chart + "'>Download</a>");
                    }
                },
                {
                    "data": "studio_rejected_sheet",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        if (oData.studio_rejected_sheet != null)
                            $(nTd).html("<a href='" + oData.studio_rejected_sheet + "'>Download</a>");
                        else
                            $(nTd).html("No Rejection");
                    }
                },
                {"data": "listing_status"},
                {
                    "data": "studio_sku_content_sheet",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        if (oData.studio_sku_content_sheet != null)
                            $(nTd).html("<a href='" + oData.studio_sku_content_sheet + "'>Download</a>");
                    }
                },
                {"data": "studio_image_path"},
                {
                    "data": "listing_content_sheet",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        if (oData.listing_content_sheet != null)
                            $(nTd).html("<a href='" + oData.listing_content_sheet + "'>Download</a>");
                    }
                },
                {
                    "data": "listing_priority",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).attr('class', 'listing_priority');
                    }
                },
                {
                    "data": "listing_resource_allocated",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).attr('class', 'listing_resource_allocated');
                    }
                },
                {
                    "data": "action",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).attr('class', 'action');
                        var action = "<a class='btn btn-sm' id='" + oData.id + "' onclick='action($(this))' data='edit'><i class='fa fa-edit'></i></a>";
                        action += "<a class='btn btn-sm' id='" + oData.id + "' onclick='action($(this))' data='revert'><i class='fa fa-step-backward'></i></a>";
                        if (oData.listing_status == 'Yet to Start')
                            action += "<a class='btn btn-sm' id='" + oData.id + "' onclick='action($(this))' data='remove'><i class='fa fa-remove'></i></a>";
                        $(nTd).html(action);
                    }
                }
            ]
        });
    });

    function action(ele) {
        var id = ele.attr('id');
        var tr = ele.closest('tr');

        var listing_priority_td = tr.find('.listing_priority');
        var listing_priority = listing_priority_td.html();
        var listing_resource_td = tr.find('.listing_resource_allocated');
        var listing_resource = listing_resource_td.html();

        var data = ele.attr('data');

        if (data == 'edit') {
            ele.html('<i class="fa fa-save"></i>');
            ele.attr('data', 'save');
            listing_priority_td.html('<input type="number" value="' + listing_priority + '" class="form-control" style="height:28px;width: 80px;font-size: 10px">');

            $.ajax({
                type: 'post',
                url: '/serializer/?app=account&model=ListingContent&order_by=name',
                data: data,
                success: function (response) {
                    var select = '<select <select class="form-control" style="height: 30px;font-size: 11px">';
                    select += '<option value="" selected style="display: none">' + listing_resource + '</option>';
                    $.each(response.data, function (idx, key) {
                        select += '<option value="' + key.id + '" >' + key.name + '</option>';
                    });
                    select += '</option>';
                    listing_resource_td.html(select);
                }
            });
        } else if (data == 'revert') {
            if(confirm('Are you sure want to revert status ?')){
                listing_action(id, 'revert');
            }
        } else if (ele.attr('data') == 'remove') {
            if (confirm('Are you sure want to delete this ?')) {
                $.ajax({
                    type: 'delete',
                    url: '/listing/' + id + '/',
                    success: function (response) {
                         $('#listing').DataTable().ajax.reload();
                    }
                });
            }
            return false;
        } else {
            update_listing(id, {
                'listing_priority': listing_priority_td.find('input').val(),
                'listing_resource_allocated': listing_resource_td.find('select').val()
            });
        }
    }
</script>
{% endblock %}













