{% extends "base.html" %}
{% block extra_css %}
<link href="/static/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 984px !important;">
    <section class="content-header">
        <h1>
            Create Listing Request
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Listing</a></li>
            <li class="active">Create Listing</li>
        </ol>
    </section>
    <section class="content">
        <div class="col-md-8">
            <div class="box box-info">

                <!-- /.box-header -->
                <!-- form start -->
                {% if content_sheet_errors %}
                <div class="box-header with-border">
                    <h3 class="box-title" style="color: red">Content Sheet Errors</h3>
                </div>

                <table id="listing" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Errors</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for error in content_sheet_errors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ error }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% else %}
                <div class="box-header with-border">
                    <h3 class="box-title" id="alert_message">New Listing Request</h3>
                </div>
                <form class="form-horizontal" action="/listing/create/" method="POST" enctype="multipart/form-data"
                      id="listing_request_form">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">SD Seller</label>

                            <div class="col-sm-8">
                                <select class="form-control" name="sd_seller" id="sd_seller">
                                    {% for seller in sd_sellers %}
                                    <option value="{{ seller.pk }}" is_vtipl="{{ seller.is_vtipl }}">
                                        {{ seller.name }} | {{ seller.code }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="ex_seller" style="display: none">
                            <label class="col-sm-4 control-label">Ex Seller</label>

                            <div class="col-sm-8">
                                <select class="form-control" name="ex_seller">
                                    <option value="" style="display: none;" selected></option>
                                    {% for seller in ex_sellers %}
                                    <option value="{{ seller.pk }}">{{ seller.name }} | {{ seller.code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">#POGs</label>

                            <div class="col-sm-8">
                                <input type="number" name="pogs" class="form-control" id="pogs">
                            </div>
                        </div>
                        {% if user.role == 'admin' %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Account Manager</label>

                            <div class="col-sm-8">
                                <select class="form-control" name="account_manager">
                                    {% for am in account_managers %}
                                    <option value="{{ am.pk }}">{{ am.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Image Availability Status</label>

                            <div class="col-sm-8" id="image_availability">
                                <input type="radio" name="image_availability" value="Real" checked="checked"> Real
                                <input type="radio" name="image_availability" value="Virtual"> Virtual
                            </div>
                        </div>

                        <div class="form-group" id="content_sheet_upload">
                            <label class="col-sm-4 control-label">Upload Content Sheet</label>

                            <div class="col-sm-8">
                                <input type="file" name="content_sheet" id="content_sheet">
                            </div>
                        </div>

                        <div class="form-group" id="declaration">
                            <label class="col-sm-4 control-label">Product Sent Declaration</label>
                            <div aria-disabled="false" aria-checked="false"
                                 class="col-sm-8 icheckbox_minimal-red checked">
                                <input class="minimal-red" type="checkbox">
                            </div>
                        </div>

                        <div class="form-group" id="image_upload" style="display: none">
                            <label class="col-sm-4 control-label">Upload Image</label>

                            <div class="col-sm-8">
                                <input type="file" name="image_zip">
                            </div>
                        </div>

                        <div class="form-group" id="size_chart">
                            <label class="col-sm-4 control-label">Size Chart</label>

                            <div class="col-sm-8">
                                <input type="file" name="size_chart">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-default" type="reset">Reset</button>
                        <button class="btn btn-info pull-right" type="submit">Create</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
                {% endif %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
    $('#image_availability input[type="radio"]').click(function () {
        if ($(this).val() == 'Virtual') {
            $('#image_upload').show('mid');
            $('#declaration').hide('mid');
        } else {
            $('#image_upload').hide('mid');
            $('#declaration').show('mid');
        }
    });

    $('#sd_seller').change(function () {
        if ($(this).find(":selected").attr('is_vtipl') == 'True') {
            $('#ex_seller').show('mid');
        } else {
            $('#ex_seller').hide('mid');
        }
    });

    $('#listing_request_form').submit(function (e) {
        var alert_box = $('#alert_message');
        if ($(this).find('#pogs').val() == '') {
            alert_box.html('POGs cannot be null or 0.');
            e.preventDefault(e);
            alert_box.css('color', 'red');
            $(this).find('#pogs').css('color', 'red').focus();
            return false;
        }

        if ($(this).find('#content_sheet').val() == '') {
            alert_box.html('Please upload Content Sheet.');
            e.preventDefault(e);
            alert_box.css('color', 'red');
            $(this).find('#content_sheet').css('color', 'red').focus();
            return false;
        }

        if ($('#image_availability input[type="radio"]:checked').val() == 'Virtual') {
            if ($(this).find('#image_upload input').val() == '') {
                alert_box.html('Please upload Images.');
                e.preventDefault(e);
                alert_box.css('color', 'red');
                $(this).find('#image_upload input').css('color', 'red').focus();
                return false;
            }
        } else if ($('#image_availability input[type="radio"]:checked').val() == 'Real') {
            if ($(this).find('#declaration input[type="checkbox"]').is(":checked") == false) {
                alert_box.html('Please declare that you have sent the products.');
                e.preventDefault(e);
                alert_box.css('color', 'red');
                $(this).find('#declaration input[type="checkbox"]').css('color', 'red').focus();
                return false;
            }
        }

        if ($(this).find('#size_chart input').val() == '') {
            alert_box.html('Please upload Size Chart.');
            e.preventDefault(e);
            alert_box.css('color', 'red');
            $(this).find('#size_chart input').css('color', 'red').focus();
            return false;
        }

        if ($(this).find("#sd_seller :selected").attr('is_vtipl') == 'True' && $(this).find("#ex_seller select").val() == "") {
            alert_box.html('Please select Ex Seller.');
            e.preventDefault(e);
            alert_box.css('color', 'red');
            $(this).find('#ex_seller select').css('color', 'red').focus();
            return false;
        }
    });

</script>
{% endblock %}
