{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
<div class="content-wrapper" style="min-height: 620px !important;overflow-x: scroll;">
    <section class="content-header">
        <h1>
            Listing
            <small>All Listing Requests</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#">Listing</a></li>
            <li class="active">All Listing Requests</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Listing Requests</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="listing" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Submission Date</th>
                                <th>Lot Name</th>
                                <th>#POGs</th>
                                <th>EX-Seller</th>
                                <th>Content Sheet</th>
                                <th>Images</th>
                                <th>Listing Resource</th>
                                <th>Listing Priority</th>
                                <th width="75px">Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="popup">
    <div id="dialog" class="window"></div>
    <div id="mask"></div>
</div>
{% endblock %}
{% block extra_js %}
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        var params = {{ params | safe }};
        $('#listing').DataTable({
            //"bProcessing": true,
            "sAjaxSource":"/serializer/?app=listing&model=ListingRequest&order_by=am_priority&params=" + JSON.stringify(params),
            "aaSorting": [[0, "asc"]],
            "sPaginationType": "full_numbers",
            "bStateSave": true, //Use a cookie to save current display of items
            "bScrollCollapse": true,
            //"sScrollX": "100%",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                });
            },
            "columns": [
                {"data": "submission_date"},
                {"data": "lot_name"},
                {"data": "pogs"},
                {"data" : "exl_seller"},
                {
                    "data": "listing_content_sheet",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='" + oData.listing_content_sheet + "'>Download</a>");
                    }
                },
                {"data": "studio_image_path"},
                {"data": "listing_resource_allocated"},
                {"data": "listing_priority"},
                {
                    "data": "listing_status",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).attr('class', 'listing_status');
                    }
                },
                {
                    "data": "action",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).attr('class', 'action');
                        var action = "<a class='btn btn-sm' id='" + oData.id + "' onclick='action($(this))' data='edit'><i class='fa fa-edit'></i></a>";
                        action += "<a class='btn btn-sm' id='" + oData.id + "' onclick='action($(this))' data='revert'><i class='fa fa-step-backward'></i></a>";
                        $(nTd).html(action);
                    }
                }
            ]
        });
    });

    function action(ele) {
        var id = ele.attr('id');
        var tr = ele.closest('tr');

        var listing_status_td = tr.find('.listing_status');
        var listing_status = listing_status_td.html();
        var data = ele.attr('data');

        if (data == 'edit') {
            ele.html('<i class="fa fa-save"></i>');
            ele.attr('data', 'save');

            var listing_status_html = '<select class="form-control" style="height: 30px;font-size: 11px" onchange="update_status(this,' + id + ')">';
            var listing_option = LISTING_OPS_STATUS[LISTING_OPS_STATUS.indexOf(listing_status) + 1];
            listing_status_html += '<option value="' + listing_status + '" selected style="display: none">' + listing_status + '</option>';
            //$.each(listing_options, function (idx, option) {
            listing_status_html += '<option value="' + listing_option + '">' + listing_option + '</option>';
            //});
            listing_status_html += '</select>';
            listing_status_td.html(listing_status_html);
        } else if (data == 'revert') {
            if(confirm('Are you sure want to revert status ?')){
                listing_action(id, 'revert');
            }
        } else {
            listing_status = listing_status_td.find('select').val();
            update_listing(id, {'listing_status': listing_status});
        }
    }

</script>
{% endblock %}