#Ubuntu upstart file for making the python program deamonize

console log
start on runlevel [2345]
stop on runlevel [!2345]

respawn

{% for key, value in environment_variables.items() %}
env             {{key}}={{value}}
{% endfor %}
env 		C_FORCE_ROOT="true"


script
  export HOME="{{ project_root }}/{{ project_name }}/{{ project_src }}"
  cd $HOME
  exec celery -A {{ project_src }} worker -B --loglevel=INFO -c 1
end script

