table {
    font-size: 11px !important;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana' !important;
}

table th td {
    padding: 0 !important;
}

table tbody td {
    padding: 5px 0 0 5px !important;
}

#popup .window {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 20px;
    text-align: center;
}

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    opacity: 0.6;
    display: none;
}

.action a {
    padding: 0 5px !important;
}