<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Exclusively | {{ user.role_title }} Dashboard{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/static/dist/css/skins/_all-skins.min.css">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="/static/css/listing.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {% block header %}
    {% include "header.html" %}
    {% endblock %}

    {% block sidebar %}
    {% include "sidebar.html" %}
    {% endblock %}


    {% block content %}
    {% endblock %}


    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
</div>
{% block js %}
<script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/static/plugins/fastclick/fastclick.min.js"></script>
<!-- Sparkline -->
<script src="/static/dist/js/app.js"></script>
<script src="/static/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--&lt;!&ndash; jvectormap &ndash;&gt;-->
<!--<script src="/static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>-->
<!--<script src="/static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>-->
<!-- SlimScroll 1.3.0 -->
<script src="/static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/js/listing.js"></script>
<!-- ChartJS 1.0.1 -->
{% endblock %}
{% block extra_js %}{% endblock %}
<!--<script src="/static/plugins/chartjs/Chart.min.js"></script>-->
<!--<script src="/static/dist/js/pages/dashboard2.js"></script>-->
<!--<script src="/static/dist/js/demo.js"></script>-->
</body>
</html>
