<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>E</b>L</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Exclusively Listing</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div style="color: white;float: left;font-size: 18px;padding: 12px;">
            {{ user.role_title }} Dashboard
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!--<li class="dropdown notifications-menu">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                <!--<i class="fa fa-bell-o"></i>-->
                <!--<span class="label label-warning">3</span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li class="header">You have 3 notifications</li>-->
                <!--<li>-->
                <!--&lt;!&ndash; inner menu: contains the actual data &ndash;&gt;-->
                <!--<ul class="menu">-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--<i class="fa fa-users text-aqua"></i>Order Id 1234 has been delivered.-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--<i class="fa fa-warning text-yellow"></i> FTL No 3459 will be delayed by 2-->
                <!--hours.-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--<i class="fa fa-users text-red"></i> Truck DL-5431 is assigned for-->
                <!--Delhi-Mumbai FTL-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="footer"><a href="orders.html">View all</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!--<img src="http://i1.pepperfry.com/img/dec/logo-black.png" class="user-image"-->
                        <!--alt="User Image">-->
                        <span class="hidden-xs">Welcome ! &nbsp;&nbsp;<b>{{ user.name }}</b></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <!--<img src="http://i1.pepperfry.com/img/dec/logo-black.png" class="img-circle"-->
                            <!--alt="User Image">-->

                            <p>
                                {{ user.name }}<br/>
                                <span>Role :
                                    <b>
                                        <a href="/admin/" target="_blank" style="color: white">{{ user.role_title }}</a>
                                    </b>
                                </span>
                                <br>
                                <span>
                                    <b>
                                        <a href="/change-password/" target="_blank" style="color: white">Change
                                            Password</a>
                                    </b>
                                </span>
                                <small>Member Since : <b>{{ user.created }}</b></small>
                                <small>Last Login : <b>{{ user.last_login }}</b></small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <!--<div class="pull-left">-->
                            <!--<a href="#" class="btn btn-default btn-flat">Profile</a>-->
                            <!--</div>-->
                            <div class="pull-right">
                                <a href="/logout/" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--<li>-->
                <!--<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>-->
                <!--</li>-->
            </ul>
        </div>

    </nav>
</header>