<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!--<div class="user-panel">-->
        <!--<div class="pull-left image">-->
        <!--<img src="/static/dist/img/placeholder.png" class="img-circle" alt="User Image">-->
        <!--</div>-->
        <!--<div class="pull-left info">-->
        <!--<p>Client Name</p>-->
        <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
        <!--</div>-->
        <!--</div>-->
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
        </button>
        </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="/">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <!--<ul class="treeview-menu">-->
                <!--<li><a href="/order/"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>-->
                <!--<li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>-->
                <!--</ul>-->
            </li>
            <!--<li class="treeview">-->
            <!--<a href="#">-->
            <!--<i class="fa fa-files-o"></i>-->
            <!--<span>Catalogue</span>-->
            <!--<i class="fa fa-angle-left pull-right"></i>-->
            <!--&lt;!&ndash;<span class="label label-primary pull-right"></span>&ndash;&gt;-->
            <!--</a>-->
            <!--<ul class="treeview-menu">-->
            <!--<li><a href="/catalogue/buckets/"><i class="fa fa-circle-o"></i> Buckets</a></li>-->
            <!--<li><a href="/catalogue/buckets/upload/"><i class="fa fa-circle-o"></i> Upload Buckets</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            {% if user.role == 'admin' %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Account</span>
                    <i class="fa fa-angle-left pull-right"></i>
                    <!--<span class="label label-primary pull-right"></span>-->
                </a>
                <ul class="treeview-menu">
                    <li><a href="/account/"><i class="fa fa-circle-o"></i> Users</a></li>
                    <li><a href="/account/create/"><i class="fa fa-circle-o"></i> Create User</a></li>
                </ul>
            </li>
            {% endif %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Listing</span>
                    <i class="fa fa-angle-left pull-right"></i>
                    <!--<span class="label label-primary pull-right"></span>-->
                </a>
                <ul class="treeview-menu">
                    <li><a href="/listing/"><i class="fa fa-circle-o"></i> All Listings</a></li>
                    <li><a href="/listing/create/"><i class="fa fa-circle-o"></i> Listing Request</a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>